{% assign item = product %}
{% if template contains 'search' %}
  {% assign item = item %}
{% elsif template contains 'product' %}
  {% assign item = prod %}
{% endif %}

{% if settings.product_stock_overlay and item.available %}
  {% assign show_stock_indicator = false %}
  {% assign total = 0 %}
  {% assign threshold = settings.product_stock_overlay_show | times: 1 %}
  {% for variant in item.variants %}
    {% if variant.inventory_management == "shopify" and variant.inventory_quantity > 0 and varient.inventory_policy != 'continue'%}
      {% assign total = total | plus: variant.inventory_quantity %}
      {% assign show_stock_indicator = true %}
    {% endif %}
  {% endfor %}
{% endif %}

<article class="product-list-item" {% unless onboarding %}id="product-list-item-{{ item.id }}"{% endunless %}>
{% if collection.handle contains 'ready-to-blend' or 'pre-selected' %}
  <figure class="product-list-item-thumbnail {% if collection.handle contains 'build-your-order' %} link-not-active {% endif %}">
    {% unless onboarding %}
{% unless collection.url contains 'build-your-order' %}     <div class="reveal" >{% endunless %}
	  
      <a href="{{ item.url | within: collection }}" >
        {%
          include 'rimg',
          img: item.featured_image,
          class: 'product-list-item-image',
          size: '600x600',
          lazy: true
        %}
{% unless collection.url contains 'build-your-order' %}        
        <div class="hidden">
          <a href="{{ item.url | within: collection }}" >  <img src="{{ product.images.last | img_url: 'large' }}" alt="{{ product.images.last.alt | escape }}" /></a>
  </div>
        {% endunless %}
        {% if show_stock_indicator and total < threshold %}
          <span class="stock-overlay meta">{{ 'products.product.stock_level' | t: stock_count: total }}</span>
        {% endif %}

        {% if item.compare_at_price_min > item.price_min and item.available %}
          <span class="sale-badge">&#57367;</span>
        {% endif %}
      </a>
    {% else %}
      <a href="#">
        {{ onboarding_image }}
      </a>
      
    </div>
    {% endunless %}
    {% else %}
    <figure class="product-list-item-thumbnail {% if collection.handle contains 'build-your-order' %} link-not-active {% endif %}">
    {% unless onboarding %}
      <a href="{{ item.url | within: collection }}" >
        {%
          include 'rimg',
          img: item.featured_image,
          class: 'product-list-item-image',
          size: '600x600',
          lazy: true
        %}
        {% if show_stock_indicator and total < threshold %}
          <span class="stock-overlay meta">{{ 'products.product.stock_level' | t: stock_count: total }}</span>
        {% endif %}

        {% if item.compare_at_price_min > item.price_min and item.available %}
          <span class="sale-badge">&#57367;</span>
        {% endif %}
      </a>
    {% else %}
      <a href="#">
        {{ onboarding_image }}
      </a>
      
    {% endunless %}
      {% endif %}
  </figure>

  <div class="product-list-item-details">
    {% if settings.product_show_vendor %}
      <p class="product-list-item-vendor vendor meta">
        {% unless onboarding %}
          {{ item.vendor }}
        {% else %}
          {{ onboarding_vendor }}
        {% endunless %}
      </p>
    {% endif %}

    <h3 class="product-list-item-title">
      <a href="{% unless onboarding %}{{ item.url | within: collection }}{% endunless %}"{% if collection.handle contains 'build-your-order' %} class="link-not-active" {% endif %}>
        {% unless onboarding %}
          {{ item.title | remove: 'Smoothie' }}
        {% else %}
          {{ onboarding_title }}
        {% endunless %}
      </a>
    </h3>
    <span class="product-tags">
        {% for tag in product.tags %}
          {% if tag contains 'Benefit:' %}
      <span class="product-tag">{{ tag | remove: 'Benefit:' }}</span>
          {% endif %}
      {% if collection.handle contains 'pre-selected' %}
          {% if tag contains 'Weight Loss' or 'Athletic Performance' or 'General Health' %}
      <span class="product-tag">{{ tag }}</span>
          {% endif %}
      {% endif %}
        {% endfor %}
    </span>
              <p class="product-list-item-price">
        {% if onboarding %}
          {{ onboarding_price | money }}
        {% elsif item.available %}
          {% if item.price_varies %}
            <span class="price">
              {% if item.price_varies %}{{ 'products.product.from' | t }}{% endif %}
              <span class="money">{{ item.price_min | money }}</span></span>
          {% else %}
            <span class="price">
              <span class="money">{{ item.price_min | money }}</span>
              {% unless item.compare_at_price_min <= item.price_min %}
                <span class="original money">
                  {% if item.compare_at_price_min > item.price_min %}
                    {{ item.compare_at_price_min | money }}
                  {% endif %}
                </span>
              {% endunless %}
            </span>
          {% endif %}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </p>
    
    {% if collection.handle == 'build-your-order' %}
<form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <input min="1" type="number" id="quantity" name="quantity" value="1"/>
  <input type="submit" value="Add to cart" class="btn" />
</form>
    {% endif %}
  </div>
  </figure>
</article>